<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Forgot Workspace Email Templates | NeuronLabs</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,700,900');
    body{
      font-family: "Rubik",Helvetica,Arial,sans-serif;
      -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
           margin: 0;
           font-size: 16px;
           line-height: 1.6;
           font-weight: normal;
           color:#222222;
    }
    body *
    {
      -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;

    }
    body p{
      font-family: "Rubik",Helvetica,Arial,sans-serif;
    }
    body a{
      text-decoration: none;
      outline: none;
      color: #dd8e03;
    }
    body a:hover{
      outline: none;
      text-decoration: underline;
      color: #dd8e03;
    }
     h1, h2, h3 {
       font-family: "Roboto",Helvetica,Arial,sans-serif;
     }
</style>
  </head>
  <body style="width: 100%; margin:15px 0; font-family: 'Rubik',Helvetica,Arial,sans-serif; padding:15px; display:block; background-color: #f9f9f9;  text-align: center;line-height:1.6; color:#222222; font-size:16px;">

    <table style="max-width:100%; width:650px;background-color: #ffffff;margin: 0 auto; text-align: left;padding: 0;" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td style="text-align:left; padding: 15px 30px;">
            <a href="javascript:void(0)" target="_blank" rel="noreferrer" style="display: inline-block;" title="NeuronLabs "><img src="cid:stacklabs.png"
              style="display: inline-block;line-height: 60px; vertical-align:middle; max-width:150px;" alt="NeuronLabs Logo"> </a>
          </td>
        </tr>
        <tr><td><hr style="display: block;border-top: none;border-bottom: 1px solid #d6dee4;margin: 5px 0;" /></td></tr>
        <tr>
        <td>
          <table  style="padding: 20px 40px;" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="text-align: center; padding-bottom: 30px;">
                  <figure style="margin: 10px 0;padding: 0;">
                    <img src="cid:stacklabs-forgot-workspace.png" alt="NeuronLabs Forgot Workspace" style="width:auto; max-width:90px" />
                  </figure>
                  <h2 style="font-weight: bold; color: #222222; font-size: 32px;  margin: 20px auto 10px; line-height:1.3; max-width:90%;">
                    Forgot your NeuronLabs Workspace? </h2>
                </td>
              </tr>
              <tr>
                <td style="width:100%; text-align:center;">
                    <p style="margin: 0 auto 30px; max-width: 90%; font-size: 16px;font-weight: lighter;">
                      No need to worry, Use the button below to get the list of your registered Workspaces with your NeuronLabs Account.
                    </p>
                </td>
              </tr>
              <tr>
                <td style="width:100%; text-align:center;">
                    <a href="{{.VerificationCode}}" target="_blank" rel="noreferrer" style="background: #dd8e03;color: #ffffff;padding: 0 20px;min-height: 46px;display: inline-block;line-height: 46px;min-width: 180px;max-width: 100%;text-align: center;font-size: 16px;text-transform: uppercase;font-family: 'Roboto',Helvetica,Arial,sans-serif;text-decoration: none;outline: none; border-radius:3px;">
                    Get My Workspace </a>

                    <p style="margin: 10px auto; max-width: 80%; font-size: 14px;font-weight: lighter;color: #666;">You're receiving this e-mail because you requested a forgot Workspace for your NeuronLabs account. If you didn't request, You don't have to do anything, this link will be expire automatically within 24 hours.</p>
                </td>
              </tr>
              <tr>
                <td style="padding: 20px 0 20px; text-align:center;">
                    <hr style="border-bottom: 2px solid #CDD2E9;border-top: none;display: inline-block;width: 50px;border-right: none;border-left: none; margin:10px 0;"/>
                    <p style="margin: 0 0 10px;font-weight: lighter;">Thanks & Regards </p>
                    <p style="font-family: 'Roboto',Helvetica,Arial,sans-serif;margin: 0;"> <strong> The NeuronLabs Team</strong> </p>
                </td>
              </tr>
          </table>
        </td>
        </tr>
          <tr><td><hr style="display: block;border-top: none;border-bottom: 1px solid #d6dee4;margin: 5px 0;" /></td></tr>
        <tr>
          <td>
              <table style="padding: 15px;text-align: center;" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><p style="font-weight: lighter;font-size: 16px;margin: 0;">© Copyright 2019 —  <a href="javascript:void(0)" style="color: #dd8e03;">NeuronLabs</a>. All rights reserved</a></p></td>
                </tr>
                <tr>
                  <td>
                    <ul style="margin: 16px -8px;padding: 0;">
                      <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                        <a href="https://www.facebook.com/STPIMohali" target="_blank" rel="noreferrer" style="display: block;vertical-align: middle;">
                          <img src="cid:facebook-logo.png" style="width: 50px;height: 50px;" alt="Facebook"/>
                        </a>
                        </li>
                        <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                          <a href="https://twitter.com/stpimohali/" target="_blank" rel="noreferrer"  style="display: block;vertical-align: middle;">
                              <img src="cid:twitter-logo.png" style="width: 50px;height: 50px;" alt="Twitter"/>
                          </a>
                        </li>
                        <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                            <a href="javascript:void(0)"  target="_blank" rel="noreferrer"  style="display: block;vertical-align: middle;">
                                <img src="cid:linkedin-logo.png" style="width: 50px;height: 50px;" alt="LinkedIn"/>
                            </a>
                        </li>
                        <li style="display: inline-block;vertical-align: middle;padding: 0 6px;">
                            <a href="mailto:mohali.sphs@stpi.in"  target="_blank" rel="noreferrer"  style="display: block;vertical-align: middle;">
                              <img src="cid:email-logo.png" style="width: 50px;height: 50px;" alt="E-mail"/>
                            </a>
                          </li>
                      </ul>
                  </td>
                </tr>
              </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
